* {
  margin: 0;
  padding: 0;
}

.containerTop {
  display: flex;
  flex-direction: row;
  height: 12vw;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  width: 26vw;
}

.payment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26vw;
  font-size: 2vw;
}

.gestion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26vw;
  font-size: 2vw;
}

.containerMiddle {
  width: 97vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listProductOfMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
  width: 45vw;
  height: 37vw;
  position: relative;
}

.containerRight {
  border: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  height: 80vh;
  width: 30vw;
}

.container {
  height: 50vw;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22vw;
  height: 12vw;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  width: 38.6vw;
}

.menu-button {
  height: 16.6vw;
  font-size: 3.6vw;
}

.drink-button {
  height: 16.6vw;
  font-size: 3.6vw;
}

.dessert-button {
  height: 16.6vw;
  font-size: 3.6vw;
}

.ticket-container{
  height: 30vw;
  width: 20vw;
}

.containerTicket {
  max-height: 100%;
  overflow-y: auto;
}

.ticket {
  border: solid ;
  margin-bottom: 3vh; 
  margin-top: 2vh;
}

#tiltle-container-ticket{
  border: solid;
}


.listMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listorder {
  font-size: 2vw;
  width: 15vw;
  margin-left: 1.5vw;
}

.nameMenu {
  border: solid;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  height: 3vw;
}

.bottom-navTicket{
  border: solid;
}

.leftContainerListMenu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  width: 5vw;
}

.delete-menu-list {
  width: 2vw;
  height: 2vw;
}

.OrderPriceContainer {
  display: flex;
  align-items: center;
  height: 6.6vw;
  gap: 10vw;
}

.titleOrder {
  border: solid gold;
  font-size: 1vw;
  margin-left: 1vw;
  width: 9.5vw;
}

.containerPaymentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.6vw;

}

.totalPrice{
  border: solid;
}

.payment-button {
  width: 27vw;
  height: 6vw;
  font-size: 3vw;
}

.containerMenus{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17vw;
  width: 13vw;
}

.buttonAdd{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13vw;
  width: 13vw;
}

.addMenuButton{
  width: 100%;
  height: 3vw;
}

.priceOnImgMenu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal {
  position: absolute;
  top: 0;
  left: 0; /* Move the modal 5px to the left */
  right: 0;
  width: 100% ; /* Adjust the width to compensate for the left offset */
  height: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2),
              0px 1px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.category {
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.category h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
}

.category ul {
  list-style-type: none;
  padding: 0;
}

.category ul li {
  font-size: 16px;
  margin: 5px 0;
  color: #444;
}

.close-modal {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.close-modal:hover {
  background-color: #e04747;
}



.close-button {
  cursor: pointer;
  font-size: 1.5rem;
  align-self: flex-end;
}

.gestion:hover {
  background-color: darkkhaki;
}

.order:hover {
  background-color: darkkhaki;
}

.payment:hover {
  background-color: darkkhaki;
}