section.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.login .login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
}

section.login .login-form > * {
    width: 512px;
}

section.login .login-form div button {
    width: 512px;
}